#container {
    display: grid;
    grid-template-columns: 350px auto auto auto 150px;
    grid-template-rows: 10px 100px 30px auto auto auto;
    grid-template-areas:
        "top-bar      top-bar        top-bar       top-bar      top-bar"
        "logo         nav-menu       nav-menu      nav-menu     contact"
        ".            .              .             .            .      "
        "contact-us   prod1          prod2         prod3        .      "
        "contact-us   prod4          prod5         prod6        .      "
        ".            contact-bar    contact-bar   contact-bar  .      "
    ;
}

.product {
    width: 300px;
    height: auto;
    margin: 50px;
    border-radius: 10px;
}

.product-description {
    margin: 10px;
    font-weight: 400;
    text-align: center;
}

.product-image {
    border-radius: 10px;
}

#contact-us {
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    // height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1,
    img,
    p {
        margin: 20px 10px;
    }
}

///////////////////////////////////////

#prod1 {
    grid-area: prod1;
}

#prod2 {
    grid-area: prod2;
}

#prod3 {
    grid-area: prod3;
}

#prod4 {
    grid-area: prod4;
}

#prod5 {
    grid-area: prod5;
}

#prod6 {
    grid-area: prod6;
}

#logo {
    grid-area: logo;
}


#top-horizontal-bar {
    grid-area: top-bar;
}

#contact {
    grid-area: contact;
}

#navigation-list {
    grid-area: nav-menu;
}

#contact-bar {
    grid-area: contact-bar;
}

#contact-us {
    grid-area: contact-us;
}