#container {
    display: grid;
    grid-template-columns: 350px auto auto 150px;
    grid-template-rows: 10px 100px 30px auto auto auto;
    grid-template-areas:
        "top-bar    top-bar        top-bar       top-bar"
        "logo       nav-menu       nav-menu      contact"
        ".          .              .             .      "
        ".          image          info          .      "
        ".          description    description   .      "
        ".          contact-bar    contact-bar   .      "
    ;
}

#description {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    li {
        margin-left: 20px;
    }
}

#info-list {
    list-style-type: none;

    li {
        margin-left: 10px;
    }
}

#ask-button {
    margin: 20px auto 20px auto;
}

#info {
    h1 {
        margin: 30px;
    }

    button,
    ul,
    h2 {
        margin: 10px 0px 10px 20px;
    }
}

#button-container {
    display: flex;
    justify-content: space-evenly;
}

///////////////////////////////////////

#info {
    grid-area: info;
}

#navigation-list {
    grid-area: nav-menu;
}

#contact-bar {
    grid-area: contact-bar;
}

#description {
    grid-area: description;
}

#logo {
    grid-area: logo;
}

#top-horizontal-bar {
    grid-area: top-bar;
}

#contact {
    grid-area: contact;
}

#image {
    grid-area: image;
}